.article_container {
    font-family: Inter;
    margin: 0 auto;
    max-width: 938px;
    min-width: 400px;
}
.alert_container {
    width: 450px;
    margin: 0 auto;
}
.spin_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}
.loadingText {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}
