.header_container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000000d9;
    font-family: Inter;
    font-size: 18px;
    padding: 0 22px;
    margin-bottom: 26px;
}
.header_buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}
.header_button {
    width: 109px;
    height: 51px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.sign_up_button {
    color: #52c41a;
    border: 1px solid #52c41a;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.create_article_button {
    font-size: 14px;
    color: #52C41A;
    border: 1px solid #52C41A;
    border-radius: 5px;
    background-color: #fff;
    width: 112px;
    height: 31px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.profile_button {
    color: #000000D9;
    font-size: 18px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.user_image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }
}
.log_out_button {
    width: 109px;
    height: 51px;
    color: #000000BF;
    border: 1px solid #000000BF;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    &:hover {
        text-decoration: underline;
    }
}